
<!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="overlay"></div>
	<div class="banner_inner d-flex align-items-center">
		<div class="container">
			<div class="banner_content row">
				<div class="offset-lg-2 col-lg-8">
					<h3>Nos Chatons </h3>
					<p>Que vous ayez un chaton mignon ou un chien de chasse fidèle, nous savons à quel point vos animaux de compagnie sont importants pour vous et votre famille.</p>
					<a class="white_bg_btn" href="#product_picture">Plus de chaton</a>
				</div>
			</div>
		</div>
	</div>
</section>	

<section class="feature_product_area section_gap" id="product_picture">
	<div class="main_box">
		<div class="container-fluid">
			<div class="row">
				<div class="main_title">
					<h2>Les chatons en vedette</h2>
					<p>Nos photos feront chavirer votre coeur</p>
				</div>
			</div>


			<div class="row">
				<% @items.each do |item| %>
				<div class="col col1">
					<div class="f_p_item">
						<div class="f_p_img">
							<%= image_tag item.image_url %><br>
							<!--================ seul un user peut voir le boutton ajouter au pannier ================-->
							<% if user_signed_in? %>
							<div class="p_icon">
								<a href="#">
									<i class="lnr lnr-heart"></i>
								</a>
								<a href="#">
									<i class="lnr lnr-cart"></i>
								</a>
							</div>
							<% else%>

							<div class="p_icon">
								<a href="#">
									<i class="lnr lnr-heart"></i>
								</a>
							</div>
							
							<% end %>
						</div>
					</div>
					<a href="/items/<%= item.id %>">
						<h4><%= item.title %><br></h4>
					</a>
					<h5>Prix : $<%= item.price %><br></h5>
				</div>
			</div>
			<% end %>	
		</div>


		<div class="row">
			<nav class="cat_page mx-auto" aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">01</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">02</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">03</a>
					</li>
					<li class="page-item blank">
						<a class="page-link" href="#">...</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">09</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
</section>

<!--================ Subscription Area ================-->
<section class="subscription-area section_gap">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title text-center">
					<h2>Receivez nos nouveautés par Newsletter</h2>
					<span>Nous n'envoyons pas de spam</span>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div id="mc_embed_signup">
					<form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
					method="get" class="subscription relative">
					<input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
					required="">
							<!-- <div style="position: absolute; left: -5000px;">
								<input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
							</div> -->
							<button type="submit" class="newsl-btn">Commencez</button>
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Subscription Area ================-->

