<div class="container">	
	<% if alert || notice || flash[:danger] || flash[:success] %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Alert : </strong> <%= alert %>
    </div>

    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success : </strong> <%= notice %>
    </div>

    <div class="alert alert-danger alert-dismissible  ">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Alert : </strong> <%= flash[:danger] %>
    </div>

    <div class="alert alert-success alert-dismissible  ">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Alert : </strong> <%= flash[:success] %>
    </div>
  <% end %>
</div>  