		
		<header role="header">

			<nav class="menu" role="navigation">
				<div class="inner">
					<div class="m-left">
						<h1 class="logo">Cat Site</h1>
					</div>
					<div class="m-rigth">
						<a href="/users/sign_in">Log in</a>
						<a href="/users/sign_up">Sign up</a>
						<a href="/users/sign_out" data-method="DELETE" class="m-link">Log out</a>
					</div>
				</div>
			</nav>

		</header>