<header role="header">

	<nav class="menu" role="navigation">
		<div class="inner">
			<div class="m-left">
				<a href=""><h1 class="logo">Site web</h1></a>
			</div>
			<div class="m-rigth">
				<a href="/" class="m-link">Accueil</a>
				<a href="/users/sign_out" class="m-link">Log out</a>
			</div>
		</div>
	</nav>

</header>