<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
  
      <%= yield %>

    <%= render 'layouts/footer' %>    
    <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  </body>

</html>
